/* common stylesheet */
body {
	background-color: ivory;
}

main {
	min-height: 80vh;
}

footer {
	background-color: wheat;
	padding: 2%;
}

#update_date {
	font-size: small;
}

.code {
	font-family: monospace;
	white-space: pre-line;
	background-color: darkslategrey;
	color: white;
	width: 60%;
	display: block;
}

.large-img {
	width: 60%;
}

ol>li {
	margin: 20px;
}
