/* common stylesheet */
body {
	background-color: ivory;
	display: flex;
	flex-direction: column;
	margin: 0px;
}

main {
	min-height: 90vh;
	margin: 0px 20px;
}

footer {
	background-color: wheat;
	min-height: 10vh;
	height: 75px;
	padding-left: 50px;
	align-content: center;
}

#update_date {
	font-size: small;
}

.code {
	font-family: monospace;
	white-space: pre-line;
	background-color: darkslategrey;
	color: white;
	width: 70vw;
	display: block;
}

.large-img {
	width: 80vw;
}

ol>li {
	margin: 20px;
}
